<% if session.enable? %>
  <div class="col-md-4 mtop35">
    <div class="session-box relative">
      <% if logged_in? && event.live_and_upcoming? && session.upcoming? %>
        <% if event.owner?(current_user) %>
          <div class="edit-session sprite" data-toggle="tooltip" data-placement="top" title="Edit Event">
            <%= link_to 'Edit', edit_event_session_path(session.event, session) %>
          </div>
          <div class="del-session sprite" data-toggle="tooltip" data-placement="bottom" title="Disable Event">
            <%= link_to 'Disable', disable_event_session_path(session.event, session) %>
          </div>  
        <% end %>
      <% elsif admin_signed_in? %>
        <div class="del-session sprite" data-toggle="tooltip" data-placement="bottom" title="Disable Event">
          <%= link_to 'Disable', disable_event_session_path(session.event, session) %>
        </div>
      <% end %>
      <div class="row">
        <% if logged_in? && event.live_and_upcoming? && session.upcoming? %>
          <% if current_user.attending?(session) %>
          <div class="col-md-3 attending-box text-center">
            <span class="sprite"></span>
            <div class="row text-center h6 mtop0">
                <%= link_to 'Attending', destroy_rsvp_event_sessions_path(session_id: session, event_id: session.event), class: 'attending_session' %>
          <% else %>
            <div class="col-md-3 attend-box text-center">
            <span class="sprite"></span>
            <div class="row text-center h6 mtop0">
              <%= link_to 'Attend', create_rsvp_event_sessions_path(session_id: session, event_id: session.event) %>
          <% end %>
        <% end %>
            </div>
          </div>
        <div class="col-md-8 h4 text-blue mtop0">
          <%= session.topic %>
        </div>
      </div>
      <div class="row back-blue session-info">
        <div class="col-md-5 text-blue h6">
          <% d = session.start_date %>
          <span class="sprite date"></span>
          <%= d.strftime('%d %b') %>
        </div>
        <div class="col-md-7 text-blue h6 pr0">
          <% d = session.start_date %>
          <span class="sprite clock"></span>
          <%= d.strftime('%I:%M -') %>
          <% d = session.end_date %>
          <%= d.strftime('%I:%M') %>
        </div>
        <div class="col-md-5 text-blue h6 mtop0 pr0">
          <span class="sprite speaker"></span>
          <%= session.speaker %>
        </div>
        <div class="col-md-7 text-blue h6 mtop0">
          <span class="sprite atendee-ico"></span>
        <%= session.attendes.count %> Atendees
        </div>
        <div class="col-md-12 text-blue h6 mtop0">
          <span class="sprite location"></span>
        <%= session.location %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-grey mtop20">
        <%= session.description %>
        </div>
      </div>

<!--
        <% session.attendes.each do |user| %>
              <%= link_to user.name, user.handle %>
            <% end %>

        <%= session.speaker %> -->
    </div>
  </div>
<% end %>
