<tr>
  <td><%= session.topic %></td>
  <td><%= session.start_date %></td>
  <td><%= session.end_date %></td>
  <td><%= session.location %></td>
  <td><%= session.speaker %></td>
  <td><%= session.description %></td>
  <td><%= session.status %></td>
  <% if session.event.upcoming? %>
    
    <% #FIXME_AB: we can use current_user.can_edit_event?(event) -%>
    <% if logged_in? && current_user.id == session.event.user_id %>
      <td><%= link_to 'Edit', edit_event_session_path(event_id: session.event.id, id: session) %></td>
    <% end %> 

    <% #FIXME_AB: current_user.attending_session?(session) -%>
    <% if session.attendes.include?(current_user) %>
    <% #FIXME_AB: remove_from_attendes_list_path(session: session)  -%>
      <td><%= link_to 'Unattend session', remove_from_attendes_list_path(session_id: session.id) %>
    <% else %>    
      <td><%= link_to 'Attend session', add_to_attendes_list_path(session_id: session.id, event_id: session.event_id) %> </td>  
    <% end %>
  <% end %>   
</tr>