<% #FIXED: session.enabled? -%>
<% if session.enable? %>
  <tr>
    <td><%= session.topic %></td>
    <td><%= session.start_date %></td>
    <td><%= session.end_date %></td>
    <td><%= session.location %></td>
    <td><% session.attendes.each do |user| %>
          <%= link_to user.name, user.handle %>
        <% end %>
    </td>      
    <td><%= session.speaker %></td>
    <td><%= session.description %></td>
    <% if logged_in? && event.live_and_upcoming? && session.upcoming? %>

      <% if event.owner?(current_user) %>
        <td><%= link_to 'Edit', edit_event_session_path(session.event, session) %></td>
        <td><%= link_to 'Disable', disable_event_session_path(session.event, session) %></td>
      <% end %> 

      <% if current_user.attending?(session) %>
        <td><%= link_to 'Unattend session', destroy_rsvp_event_sessions_path(session_id: session, event_id: session.event) %>
      <% else %>    
        <td><%= link_to 'Attend session', create_rsvp_event_sessions_path(session_id: session, event_id: session.event) %> </td>  
      <% end %>
    <% elsif admin_signed_in? %>
    <% #FIXED: disable_event_sessions_path(event: session.event, id:session) remember? -%>
      <td><%= link_to 'Disable', disable_event_session_path(session.event, session) %></td>
    <% end %>  
  </tr>
<% end %>