<div class="modal-header">
    Session Details
</div>
<div class="modal-attending-box">
  <div class="row">
    <div class="col-md-2">
      <% if logged_in? && @session.event.live_or_upcoming? && @session.upcoming? %>
        <% if @session.enable? %>
          <% if current_user.attending?(@session) %>
            <div class="attending-box text-center">
              <div class="row text-center h6 mtop0 mbot0 h100">
                <%= link_to '<span class="sprite"></span>Attending'.html_safe, destroy_rsvp_event_sessions_path(session_id: @session, event_id: @session.event), class: 'attending_session block h100' %>
              </div>
            </div>
          <% else %>
            <div class="attend-box text-center">
              <div class="row text-center h6 mtop0 mbot0 h100">
                <%= link_to '<span class="sprite"></span>Attend'.html_safe, create_rsvp_event_sessions_path(session_id: @session, event_id: @session.event), class: 'block h100' %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="attend-box text-center">
            <div class="row text-center h6 mtop0 mbot0 h100">
              <div class='mtop20 text-center'>Disabled session</div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h5> Session expired </h5>
      <% end %>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12 h4 text-blue mtop0">
          <%= link_to_modal @session.topic, event_session_path(@session.event, @session), class: 'button' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-grey">
          <%= @session.description.truncate(170) %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mtop10">
    <div class="col-md-2 text-blue">
      <span class="sprite date"></span>
      <%= @session.start_date.strftime('%d %b') %>
    </div>
    <div class="col-md-10 text-blue pl0">
      <span class="sprite clock"></span>
      <%= @session.start_date.strftime('%I:%M %P -') %>
      <%= @session.end_date.strftime('%I:%M %P') %>
    </div>
  </div>
  <div class="row mtop5">
    <div class="col-md-12 text-blue">
      <span class="sprite location"></span>
    <%= @session.location %>
    </div>
  </div>
</div>
<div class="row back-blue session-info">
  <div class="col-md-12 text-blue h4 pl35">
    Speakers
    <span class="text-grey h6">(
      <% speakers = @session.speakers %>
      <%= speakers.count %>
      )</span>
  </div>
</div>
<div class='speaker_name_and_handle row'>
  <% speakers.each do |speaker| %>
  <div class="col-md-4 mtop15">
      <div class="col-md-4">
      </div>
      <div class="col-md-8 mtop5">
        <div class="text-blue h4">
          <%= speaker.name %>
        </div>
        <div class="text-grey h5">
          <%= speaker.twitter_handle %>
        </div>
    </div>
  </div>
  <% end %>
</div>
<div class="row back-blue session-info mtop20">
  <div class="col-md-12 text-blue h4 pl35">
    Attendees
    <span class="text-grey h6">(
      <% attendes = @session.attendes %>
      <%= attendes.count %>
      )</span>
  </div>
</div>
<div class='attendes_images col-md-12 mtop15'>
  <% attendes.each do |attendee| %>
    <%= link_to image_tag(attendee.profile_picture(:thumb)), "http://twitter.com/#{ attendee.twitter_name }", target: '_blank' %>
  <% end %>
<div>
