<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <title>Event Management</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <meta name="description" content="Event Management System">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="back-eee">
    <div class="bh100">
      <header>
        <%= render 'shared/navigation' %>
      </header>
      <main role="main">
        <%= render 'shared/messages' %>
        <div id='showEvents' class="row">
          <ul class="nav nav-tabs">
            <% if current_page?(admin_events_path) || current_page?('/') || current_page?(search_events_path)%>
              <li class="active"><%= link_to 'ALL EVENTS', admin_events_path, id: 'allEvents' %></li>
            <% else %>
              <li><%= link_to 'ALL EVENTS', admin_events_path, id: 'allEvents' %></li>
            <% end %>
            <% if admin_signed_in? %>
              <% if current_page?(controller: 'admin/users', action: 'index') %>
                <li class="active"><%= link_to 'All Users', { action: 'index', controller: 'admin/users' }, id: 'userTab' %></li>
              <% else %>
                <li><%= link_to 'All Users', { action: 'index', controller: 'admin/users' }, id: 'userTab' %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div id='mainView'>
          <div id='results'>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <footer class="text-center">
      Copyrights &copy;  2014 iConfConnect | Powered by <a href='http://vinsol.com/' target='_blank'>Vinsol</a>
    </footer>
  </body>
</html>
