<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="back-eee">
    <div class="bh100">
      <header>
        <%= render 'shared/navigation' %>
      </header>
      <main role="main">
        <%= render 'shared/messages' %>
        <div id='showEvents' class="row">
          <ul class="nav nav-tabs">
            <% if current_page?(admin_events_path) || current_page?('/') || current_page?(search_events_path)%>
              <li class="active"><%= link_to 'ALL EVENTS', admin_events_path, id: 'allEvents' %></li>
            <% else %>
              <li><%= link_to 'ALL EVENTS', admin_events_path, id: 'allEvents' %></li>
            <% end %>
            <% if admin_signed_in? %>
              <% if current_page?(controller: 'admin/users', action: 'index') %>
                <li class="active"><%= link_to 'ALL USERS', { action: 'index', controller: 'admin/users' }, id: 'userTab' %></li>
              <% else %>
                <li><%= link_to 'ALL USERS', { action: 'index', controller: 'admin/users' }, id: 'userTab' %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div id='mainView'>
          <div id='results'>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <footer class="text-center">
      Copyrights &copy;  2014 iConfConnect | Powered by <a href='http://vinsol.com/' target='_blank'>Vinsol</a>
    </footer>
  </body>
</html>
