<% unless admin_signed_in? %>
  <li><%= link_to 'Create Event', new_event_path %></li>
<% end %>
<li>
  <%= form_tag(search_events_path, method: :get, remote: true) do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', id: 'searchButton' %>
  <% end %>
</li>
<li>
  <%= link_to 'Home', root_url, id: 'home' %>
</li>  
