<li><%= link_to 'Create Event', new_event_path %></li>
<li>
  <%= form_tag(search_events_path, method: :get, remote: true) do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', id: 'searchButton' %>
  <% end %>
</li>
<li>
  <input id='clearText' type='button' value='Clear'>
</li>
<li>
  <%= link_to 'Home', root_url %>
</li>  
