<li class="pull-left">
  <%= link_to 'Home', root_url, class: 'logo' %>
</li>
<li class="pull-right iconsearch relative">
  <%= form_tag(search_events_path, method: :get, remote: true) do %>
    <%= text_field_tag :search, nil, :class=>"form-control input-box", :placeholder=>"Search..." %>
    <%= submit_tag '', id: 'searchButton', class: 'sprite' %>
  <% end %>
</li>
<% unless admin_signed_in? %>
  <li class="pull-right">
  <%= link_to '<span class="sprite"></span>Create Event'.html_safe, new_event_path, :class => 'btn create_event' %></li>
<% end %>
