<%# navigation styled for Bootstrap 3.0 %>
<div class="login-header">
  <div class ="container">
    <ul class="custom-nav">
      <li class="pull-left header-font"><% d = Date.today %><%= d.strftime('%A,%d %B %y') %></li>
      <% if admin_signed_in? %>
        <li class="pull-right"><%= link_to 'Logout Admin', admin_logout_path, class: 'header-link' %></li>
      <% elsif logged_in? %>
        <li class="pull-right"><%= link_to 'Logout', signout_path, class: 'header-link' %></li>
        <li id='userName' class="pull-right header-font">Hello, <%= current_user.name %></li>
      <% else %>
        <li class="pull-right"><%= link_to '<span class="sprite"></span>Login via twitter'.html_safe, signin_path, class: 'header-link twitter' %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="event-header">
  <div class="container">
    <ul class="custom-nav">
      <%= render 'shared/navigation_links' %>
    </ul>
    </div>
  </div>
</div>