<tr>
  <td><%= link_to "#{ event.name }", event %></td>
  <td><%= event.start_date %></td>
  <td><%= event.end_date %></td>
  <td><%= event.address %></td>
  <td><%= event.city %></td>
  <td><%= event.country %></td>
  <td><%= event.contact_number %></td>
  <td><%= event.description %></td>
  <td><%= event.status %></td>
  <td><%= event.image_url %></td>
</tr>