<div class="event_content wraper row">
  <div class="col-md-2">
  <%= image_tag event.logo.url(:thumb) %>
  </div>
  <div class="col-md-8">
    <div class="col-md-12 event_name">
      <%= link_to event.name, event_path(event) %>
    </div>
    <div class="col-md-6">
      <%= event.start_date %>
      <%= event.end_date %>
    </div>
    <div class="col-md-6">
      <%= event.address %>
      <%= event.city %>
      <%= event.country %>
      <%= event.contact_number %>
    </div>
    <div class="col-md-12 event_name">
      <%= event.description %>
    </div>
  </div>
</div>
