  <div class="event_content wraper row mtop35">
    <div class="col-md-2 event_image">
    <%= image_tag event.logo.url(:thumb) %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 event_name">
          <% if admin_signed_in? %>
            <%= link_to event.name, admin_event_path(event) %>
          <% else %>
            <%= link_to event.name, event_path(event) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 event_time">
          <%= event.start_date.strftime('%d %b %Y -') %>
          <%= event.end_date.strftime('%d %b %Y') %>
        </div>
        <div class="col-md-7 event_address">
          <span class="sprite"></span>
            <%= event.address %>,
            <%= event.city %>,
            <%= Carmen::Country.coded(event.country).name %>
            <%= event.contact_number %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 event_description">
          <%= event.description.truncate(150) -%>
          <% if event.description.size > 150 %>
            <%= link_to 'Read more...', event %>
          <% end %>  
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="h5 dark-grey event-icon">
        <span class="sprite"></span>
        <% if admin_signed_in? || ( logged_in? && event.owner?(current_user) ) %>
          <%= pluralize(event.sessions.count, 'Session') %>
        <% else %>
          <%= pluralize(event.sessions.enabled.count, 'Session') %>
        <% end %>  
      </div>
      <div class="h5 dark-grey speaker-icon">
        <span class="sprite"></span>
        <%= pluralize(event.speakers.count, 'Speaker') %>
      </div>
      <div class="h5 dark-grey attendes-icon">
        <span class="sprite"></span>
        <%= pluralize(event.attendes.count, 'Attendee') %>
      </div>
    </div>
  </div>
