<%= form_for(@event) do |f| %>
  <%= render partial: 'errors/error', locals: { object: @event } %>
  <div class="row">
      <div class="col-md-6 mtop35">
        <div class="field">
          <%= f.label :name do %>
           Name<span>*</span>
          <% end %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field mtop20">
          <%= f.label :logo %>
          <%= f.file_field :logo, class: 'form-control' %>
        </div>
      </div>
      <div class="field col-md-6 mtop35">
        <%= f.label :description do %>
           Description<span>*</span>
          <% end %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
  </div>
  <div class="row">
    <div class="field col-md-6 mtop35">
      <%= f.label :start_date do %>
           Start Date<span>*</span>
          <% end %>
      <%= f.text_field :start_date, class: 'datetimepicker form-control' %>
    </div>
    <div class="field col-md-6 mtop35">
      <%= f.label :end_date do %>
           End Date<span>*</span>
          <% end %>
      <%= f.text_field :end_date, class: 'datetimepicker form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="field col-md-3 mtop35">
      <%= f.label :contact_number do %>
           Contact Number<span>*</span>
          <% end %>
      <%= f.text_field :contact_number, class: 'form-control' %>
    </div>
    <div class="field col-md-3 mtop35">
      <%= f.label :address do %>
           Address<span>*</span>
          <% end %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="field col-md-2 mtop35">
      <%= f.label :city do %>
           City<span>*</span>
          <% end %>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
    <div class="field col-md-4 mtop35 country_select">
      <%= f.label :country do %>
           Country<span>*</span>
          <% end %>
      <%= f.country_select :country, { prompt: 'Please Select a country'}, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="field col-md-2 enable-checkbox mtop35 text-right">
      <%= f.check_box :enable %>
      <%= f.label :enable %>
    </div>
    <div class="col-md-3 actions text-right mtop20">
      <%= f.submit 'Save', class: 'btn btn-lg btn-warning' %>
    <% end %>
      <%= link_to 'Cancel', events_path, method: :get, class:'btn btn-lg btn-primary' %>
    </div>
  </div>

