<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @event.contact_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @event.image_url %>
</p>

<% if @event.user_id == session[:user_id] %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Cancel', events_path %>
<% end %>  
