<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @event.contact_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @event.image_url %>
</p>

<p>
  <strong>Attendes :</strong>
  <% @users.each do |user| %>
    <p>
      <%= link_to "#{user.name}", user.handle %>
    </p>
  <% end %>    
</p>  

<% if @event.user_id == session[:user_id] && upcoming_event?(@event) %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Add new Session', new_event_event_session_path(event_id: @event.id) %>
<% end %>
<% if @event.event_sessions.empty? %>
  <h4> No Sessions Created Yet </h4>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Location</th>
        <th>Speaker</th>
        <th>Description</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody> 
      <%= render @event.event_sessions %>
    </tbody>
  </table>
<% end %>
