
<div class="session_content wraper row mtop35">
  <div class="col-md-2 event_image">
    <%= image_tag @event.logo.url(:medium) %>
  </div>
  <div class="col-md-10">
    <div class="col-md-8 h4 text-grey">
      <% d = @event.start_date %>
      <%= d.strftime('%d %b %Y -') %>
      <% d = @event.end_date %>
      <%= d.strftime('%d %b %Y') %>
    </div>
    <div class="col-md-4 text-right h4 text-orange">
      <% if logged_in? && @event.owner?(current_user) && @event.live_and_upcoming? %>
        <%= link_to 'Edit', edit_event_path(@event) %> |
        <% if @event.enable %>
          <%= link_to 'Disable', disable_events_path(id: @event) %>
        <% else %>
          <%= link_to 'Enable Event', enable_events_path(id: @event) %>
        <% end %>
      <% elsif admin_signed_in? %>
       <%= link_to 'Disable Event', disable_events_path(id: @event) %>
      <% end %>
    </div>
    <div class="col-md-12 event_name text-blue">
      <%= @event.name %>
    </div>
    <div class="col-md-12 text-blue back-eee p5 m15">
      <%= @event.address %>
      <%= @event.city %>
      <%= @event.country %>
      <%= @event.contact_number %>
    </div>
    <div class="col-md-12 event_description">
      <%= @event.description %>
    </div>
  </div>
</div>
<div class="row wraper mtop35">
  <div class="col-md-6">
    <h4 class="text-success"><%= @event.sessions.enabled.count %> Sessions <span class="text-blue">in this Event</span></h4>
  </div>
  <div class="col-md-6 text-right">
    <% if logged_in? && @event.owner?(current_user) && @event.live_and_upcoming? %>
      <%= link_to '<span class="sprite add_session"></span>Add new Session'.html_safe, new_event_session_path(event_id: @event), class:'btn btn-success' %>
    <% end %>
  </div>
</div>

  <!-- Attendes :
  <% @event.attendes.uniq.each do |user| %>

      <%= link_to "#{user.name}", user.handle %>

  <% end %>
 -->

<% if @event.sessions.enabled.empty? %>
  <h3 class="text-center mtop55 text-blue back-blue p5 wraper"> No Sessions Created Yet </h3>
<% else %>
<div class="row wraper">
  <% if logged_in? %>
    <%= render partial: @event.sessions, locals: { :event => @event } %>
  <% else %>
    <%= render partial: @event.sessions, locals: { :event => false } %>
  <% end %>
  </div>
<% end %>
