<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @event_session.topic %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event_session.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event_session.end_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event_session.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event_session.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event_session.location %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @event_session.speaker %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event_session.status %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_session.event_id %>
</p>

<%= link_to 'Edit', edit_event_event_sessions_path(@event_session) %> |
<%= link_to 'Cancel', event_event_sessions_path %>
