<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <meta name="description" content="Event Management System">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'shared/navigation' %>
    </header>
    <main role="main">
      <%= render 'shared/messages' %>
      <div id='mainView'>
        <div id='results'>
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="text-center">
      Copyrights @2014 iConfconnect | Powered by Vinsol
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
