<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <meta name="description" content="Event Management System">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'index/navigation' %>
    </header>
    <main role="main">
      <%= render 'index/messages' %>
      <div>
        <%= link_to 'All Events', events_path %> 
        <% if logged_in? %>|
          <%= link_to 'Events I Created', myevents_path %> |
          <%= link_to "Event I'm Attending", attending_path %> |
        <% end %>
      </div>
      <div id="results"> 
        <%= yield %>
      </div>  
    </main>
  </body>
</html>
